@charset "UTF-8";
/* Body */
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #eee;
  margin: 0;
}
/* Container */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
}
/* Header */
header {
  width: 100%;
  height: 8%;
  background-image: linear-gradient(#777, #333, #333, #000);
}
#science-map {
  width: 100%;
}
.logo {
  color: #fff;
  font-weight: bold;
  margin-left: auto;
  letter-spacing: 4px;
  margin-right: auto;
  text-align: center;
  padding-top: 15px;
  line-height: 2em;
  font-size: 22px;
}
.contact_label {
  color: #ffffff;
  text-align: center;
  margin: 0;
  letter-spacing: 4px;
  text-shadow: 0px 0px 16px #000000;
}
quote {
  color: #fff241;
  display: inline-block;
  width: 70%;
  text-align: justify;
  text-justify: inter-word;
}
.quote-dude {
  color: #330879;
}
/* About Section */
.text_column {
  width: 90%;
  text-align: left;
  font-weight: lighter;
  line-height: 25px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #9abcb4;
}
.gallery {
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #6fd4cc;
  padding-bottom: 35px;
  padding-top: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
}
.thumbnail {
  width: 23%;
  text-align: center;
  float: left;
  margin-top: 35px;
  background-color: #afe7e3;
  padding-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 3px;
  padding-top: 20px;
  border-bottom: 4px solid #3399f3;
}
.gallery .thumbnail h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #446e9b;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.gallery .thumbnail p {
  margin: 0;
  color: #2d2d2d;
  text-align: left;
  padding-left: 20px;
}
/* More info */
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(
    #67b8fc,
    #0f59ff,
    #0f59ff,
    #0f59ff,
    #0f59ff,
    #03f
  );
  padding-bottom: 35px;
}
.column {
  width: 50%;
  text-align: center;
  padding-top: 30px;
}
#hero-card {
  margin: 0px auto;
  justify-content: center;
  color: #ffffff;
}
#hero-card h3 {
  text-align: center;
  padding: 8px;
  border: 6px groove #3333cc;
  width: min-content;
}
.intro .column p {
  color: #ffffff;
  border-left: thin solid #4ab5f7;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  line-height: 25px;
  font-weight: lighter;
  /* margin-left: 20px;
  margin-right: 20px; */
  width: 80%;
  margin-top: 4%;
}
.cards {
  max-width: 90%;
  max-height: 200px;
  opacity: 0.8;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 1);
  transition: 0.3s;
  border-radius: 5px;
}
.cards:hover {
  opacity: 1;
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 1);
  -webkit-box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 1);
}
.button {
  width: 200px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid #ffffff;
  color: #ffffff;
  transition: all 0.3s linear;
}
.button:hover {
  background-color: #39f;
  color: #ffffff;
  cursor: pointer;
}
.copyright {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #987374;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  border-top-width: 2px;
}
footer {
  background-image: linear-gradient(
    #afe7bb,
    #46d900,
    #23d220,
    #20d252,
    #20d252,
    #e7d9af
  );
  padding-top: 60px;
  padding-bottom: 60px;
}
.profile {
  width: 50%;
}
.gallery .thumbnail .tag {
  color: #6f42c1;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

/* Small Desktops */
@media (max-width: 1096px) {
  .text_column {
    margin: 0;
    padding: 20px;
  }
  .thumbnail {
    width: 48%;
  }
  .intro .column p {
    width: 80%;
  }
}

/* Small Tablets */
@media (max-width: 767px) {
  .intro {
    flex-direction: column;
  }
  .logo {
    width: 100%;
    margin-top: 13px 0px 0px 0px;
  }
  .text_column {
    padding: 0px 20px;
  }
  .column {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .thumbnail {
    width: 100%;
  }
  .profile {
    width: 100%;
  }
  .intro .column p {
    width: 90%;
    text-align: center;
    padding-left: 0px;
  }
}

/* Mobile */
@media (max-width: 320px) {
  .text_column {
    width: 100%;
    text-align: justify;
    padding: 0px 0px 0px 20px;
  }
  .contact_label {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    text-align: center;
    text-shadow: 0px 0px 16px #000000;
  }
  .intro .column p {
    width: 80%;
  }
}
